body, html {
    background-color: aqua;
}

  .contenedor {
    display: flex;
    align-items: flex-start; /* Alinea los elementos arriba */
    gap: 20px; /* Espacio entre la imagen y el texto */
    margin: 0; /* Sin márgenes externos */
    padding: 20px; /* Opcional: para que no quede todo pegado al borde */
  }
  
  .contenedor img {
    max-width: 100%;
    height: auto;
    width: 500px; /* Ajusta al tamaño que quieras */
  }
  
  .contenedor-texto {
    flex: 1;
    max-width: 600px; /* Limita el ancho del texto si quieres */
    text-align: left;
    align-items: center;
  }

  .example-form {
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 400px;
    height: 150px;
  }
  
  td {
    padding-right: 8px;
  }

  .language-selector{
    padding-top: 20px;
    text-align: center;
  }
  
  .language-selector select {
    padding: 8px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
  }