<div class="redirect-container">
  <!-- <h1>Bienvenido a Mi Aplicación</h1>
  <p>Selecciona una de las siguientes opciones:</p>
  
  <div class="button-container">
    <button routerLink="/class1" class="redirect-button">
      Ir a Class 1
    </button>
    
    <button routerLink="/class2" class="redirect-button">
      Ir a Class 2
    </button>
    
    <button routerLink="/class3" class="redirect-button">
      Ir a Class 3
    </button>
  </div> -->
  
  <router-outlet></router-outlet>
</div>