<div class="redirect-container">
    <h1>Bienvenido a Mi Aplicación</h1>
    <p>Selecciona una de las siguientes opciones:</p>
    <div class="button-container">
      <button (click)="navegarA('/class1')" class="redirect-button">Ir a Clase 1</button>
      <button (click)="navegarA('/class2')" class="redirect-button">Ir a Clase 2</button>
      <button (click)="navegarA('/class3')" class="redirect-button">Ir a Clase 3</button>
      <button (click)="navegarA('/class4')" class="redirect-button">Ir a Entregable 4</button>
      <button (click)="navegarA('/class5')" class="redirect-button">Ir a Entregable 5</button>
    </div>
</div>